<ion-content [fullscreen]="true" class="ion-padding">

  <div class="header-container ion-text-center">
    <img class="chupa-cubo" src="assets/chupa-cubo.svg" alt="Chupa-cubo dizendo Bem-vinde">
  </div>

  <div class="title-container">
    <h2><span>Criar</span> uma nova conta</h2>
  </div>

  <div class="campo-wrapper">
    <app-organiza-input
      icon="assets/icons/document.svg"
      placeholder="Nome completo"
      [value]="nome"
      (valueChange)="onNomeChange($event)"
      (blur)="onNomeBlur()">
    </app-organiza-input>
    <span class="campo-erro">{{ erros['nome'] }}</span>

    <app-organiza-input
      icon="assets/icons/user.svg"
      placeholder="Nome de usuário"
      [value]="username"
      (valueChange)="onUsernameChange($event)"
      (blur)="onUsernameBlur()">
    </app-organiza-input>
    <span class="campo-erro">{{ erros['username'] }}</span>

    <app-organiza-input
      icon="assets/icons/cake.svg"
      placeholder="Data de nascimento"
      [value]="nascimento"
      (valueChange)="onNascimentoChange($event)"
      (blur)="onNascimentoBlur()">
    </app-organiza-input>
    <span class="campo-erro">{{ erros['nascimento'] }}</span>

    <app-organiza-input
      icon="assets/icons/mail.svg"
      type="email"
      placeholder="E-mail"
      [value]="email"
      (valueChange)="onEmailChange($event)"
      (blur)="onEmailBlur()">
    </app-organiza-input>
    <span class="campo-erro">{{ erros['email'] }}</span>

    <app-organiza-input
      icon="assets/icons/lock.svg"
      type="password"
      placeholder="Senha"
      [value]="senha"
      (valueChange)="onSenhaChange($event)"
      (blur)="onSenhaBlur()">
    </app-organiza-input>
    <span class="campo-erro">{{ erros['senha'] }}</span>

    <app-organiza-input
      icon="assets/icons/lock.svg"
      type="password"
      placeholder="Confirmar Senha"
      [value]="confirmarsenha"
      (valueChange)="onConfirmarSenhaChange($event)"
      (blur)="onConfirmarSenhaBlur()">
    </app-organiza-input>
    <span class="campo-erro">{{ erros['confirmarsenha'] }}</span>
  </div>

  <div class="main-button-container">
    <app-organiza-button
    label="Cadastrar"
    type="button"
    (onClick)="handleRegister()">
  </app-organiza-button>
  </div>

  <div class="signin-container ion-text-center">
    <ion-text>
      Já tem uma conta? <a (click)="navigateToLogin()">Fazer login</a>
    </ion-text>
  </div>
</ion-content>