<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-icon name="menu-outline" class="header-icon"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="moon" class="header-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="cubes">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Cubos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="missions">
      <ion-icon name="star"></ion-icon>
      <ion-label>Missões</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon name="list"></ion-icon>
      <ion-label>Tarefas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="habits">
      <ion-icon name="repeat"></ion-icon>
      <ion-label>Hábitos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>