<div class="group-header">
  <ion-icon 
    *ngIf="!category.semCategoria"
    [name]="category.icon" 
    [style.color]="'hsl(' + category.colorHue + ', 80%, 30%)'" 
    class="category-icon">
  </ion-icon>
  
  <h2 class="category-name" 
    [style.color]="category.semCategoria ? '#848b94' : 'hsl(' + category.colorHue + ', 80%, 30%)'">
    {{category.name}}
  </h2>
  
  <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
</div>

<div class="sub-header">
  <span class="left-side">Tarefas <ion-icon name="add-circle"></ion-icon></span>
  <span class="right-side">{{taskList.length}} Tarefas</span>
</div>

<ion-list>
  <app-organiza-task *ngFor="let t of taskList" [task]="t"></app-organiza-task>
</ion-list>