<ion-content class="ion-padding custom-background">
  <div class="title-div">
    <h1 class="page-title">Tarefas</h1>
    <app-organiza-button label="+ Criar Tarefa" type="button" (onClick)="navigateToCreateTask()"></app-organiza-button>
  </div>

  <div class="categories-card-display">

    <div (click)="navigateToNewCategory()" class="new-category-button">
      <div class="new-category-button-icon">+</div>
      <h3 class="new-category-text">Criar nova categoria</h3>
    </div>

    <app-organiza-category-card *ngFor="let cat of categories" [category]="cat" [totalTasks]="getTasksByCategory(cat.id).length"
      [completedTasks]="getCompletedTasksByCategory(cat.id)"></app-organiza-category-card>

  </div>

  <div class="category-list">
    <app-organiza-task-group *ngFor="let cat of categories" [category]="cat"
      [taskList]="getTasksByCategory(cat.id)"></app-organiza-task-group>
  </div>

</ion-content>