<ion-content [fullscreen]="true" class="ion-padding custom-background">
  <h1 class="page-title">Coleção de Cubos</h1>

  <div class="hero-card">
    <img src="assets/cubes/bright-chupacubo.svg" alt="Chupa-cubo" class="mascot-img">
    <h2>Chupa-cubo</h2>
    <p>Recompensa por obter todos os cubos do aplicativo!</p>

    <div class="balance-badge">
      <div class="balance-info">
        <img src="assets/edges.svg" alt="Arestas" class="edges-icon">
        <span><span class="m-bold">Saldo:</span> {{ arestasSaldo }} arestas</span>
      </div>
    </div>
  </div>

  <p class="cubes-box-title">Caixas de cubos</p>

  <div class="cubes-box-container">

    <div class="box-card">
      <p class="box-text">Caixa padrão</p>
      <img src="assets/cube_box.svg" alt="Cubo Padrão" class="box-card-image">
      <p class="box-description">1 cubo aleatório</p>
      <button class="unlock-btn" (click)="unlockCube()">
        <p class="button-text">Comprar caixa:</p>
        <div class="edges-container"><img src="assets/edges.svg" alt="Arestas" class="edges-inlinetext-icon">150
        </div>
      </button>
    </div>

    <div class="box-card">
      <p class="box-text">Caixa grande</p>
      <img src="assets/cube_box.svg" alt="Cubo Grande" class="box-card-image">
      <p class="box-description">10 cubos aleatórios</p>
      <button class="unlock-btn" (click)="buyLargeBox()">
        <p class="button-text">Comprar caixa:</p>
        <div class="edges-container"><img src="assets/edges.svg" alt="Arestas" class="edges-inlinetext-icon">1350
        </div>
      </button>
    </div>

    <div class="box-card">
      <p class="box-text">Caixa premium</p>
      <img src="assets/cube_box.svg" alt="Cubo Premium" class="box-card-image">
      <p class="box-description">Chances de raridades maiores</p>
      <button class="unlock-btn" (click)="unlockCube(true)">
        <p class="button-text">Comprar caixa:</p>
        <div class="edges-container"><img src="assets/edges.svg" alt="Arestas" class="edges-inlinetext-icon">300
        </div>
      </button>
    </div>

  </div>

  <p class="cubes-box-title">Coleção de cubos</p>

  <ion-segment [(ngModel)]="selectedCategory" mode="md" class="custom-segment">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comuns">
      <ion-label>Comuns</ion-label>
    </ion-segment-button>
    <ion-segment-button value="raros">
      <ion-label>Raros</ion-label>
    </ion-segment-button>
    <ion-segment-button value="epicos">
      <ion-label>Épicos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="lendarios">
      <ion-label>Lendários</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let cube of filteredCubes">
        <app-cube-card [cube]="cube" (click)="navigateToCubeView(cube)"></app-cube-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="custom-overlay" *ngIf="showUnlockCard && unlockedCube">
    <div class="unlock-card">
      <div class="cube-animation-wrapper">
        <div class="cube-image-container">
          <div [class]="unlockedCube.rarity + '-glow-effect-bg'"></div>
          <img [src]="unlockedCube.img" [alt]="unlockedCube.name" class="animated-cube-img">
        </div>
        <p [class]="unlockedCube.rarity + '-text'">{{ unlockedCube.rarity === 'comuns' ? 'Comum' : unlockedCube.rarity
          === 'raros' ? 'Raro' :
          unlockedCube.rarity === 'epicos' ? 'Épico' : 'Lendário' }}</p>
        <p *ngIf="unlockedCubeLeveledUp" class="unlock-message">Subiu de nível!</p>
        <p *ngIf="unlockedCubeIsRepeated && !unlockedCubeLeveledUp" class="unlock-message">+100 XP</p>
        <p *ngIf="!unlockedCubeIsRepeated" class="unlock-message">Novo!🎉</p>
        <div class="xp-bar-wrapper" *ngIf="unlockedCubeIsRepeated">
          <div class="xp-bar">
            <div class="xp-fill" [style.width]="unlockedCubeLeveledUp ? '100%' : (unlockedCube.xp / 1000) * 100 + '%' ">
            </div>
          </div>
          <p class="xp-text">{{ unlockedCubeLeveledUp ? '1000/1000 XP' : unlockedCube.xp + '/1000 XP' }}</p>
        </div>
      </div>
      <h2>Parabéns!</h2>
      <p>Você desbloqueou o <span class="unlocked-cube-name">{{ unlockedCube.name }}</span></p>
      <app-organiza-button label="Confirmar" type="button" (click)="closeUnlockAnimation()"></app-organiza-button>
    </div>
  </div>
</ion-content>