<ion-content [fullscreen]="true" class="ion-padding custom-background">
  <h1 class="page-title">Coleção de Cubos</h1>

  <div class="hero-card">
    <img src="assets/cubes/bright-chupacubo.svg" alt="Chupa-cubo" class="mascot-img">
    <h2>Chupa-cubo</h2>
    <p>Recompensa por obter todos os cubos do aplicativo!</p>

    <div class="balance-badge">
      <div class="balance-info">
        <img src="assets/edges.svg" alt="Arestas" class="edges-icon">
        <span><span class="m-bold">Saldo:</span> {{ arestasSaldo }} arestas</span>
      </div>
      <button class="unlock-btn" (click)="unlockCube()">
        <p class="button-text">Desbloquear cubo:</p>
        <div class="edges-container"><img src="assets/edges.svg" alt="Arestas" class="edges-inlinetext-icon">150</div>
      </button>
    </div>
  </div>

  <ion-segment [(ngModel)]="selectedCategory" mode="md" class="custom-segment">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comuns">
      <ion-label>Comuns</ion-label>
    </ion-segment-button>
    <ion-segment-button value="raros">
      <ion-label>Raros</ion-label>
    </ion-segment-button>
    <ion-segment-button value="epicos">
      <ion-label>Épicos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="lendarios">
      <ion-label>Lendários</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let cube of filteredCubes">
        <app-cube-card [cube]="cube" (click)="navigateToCubeView(cube)"></app-cube-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="custom-overlay" *ngIf="showUnlockCard && unlockedCube">
    <div class="unlock-card">
      <div class="cube-animation-wrapper">
        <div [class]="unlockedCube.rarity + '-glow-effect-bg'"></div>
        <img [src]="unlockedCube.img" [alt]="unlockedCube.name" class="animated-cube-img">
        <p [class]="unlockedCube.rarity + '-text'">{{ unlockedCube.rarity === 'comuns' ? 'Comum' : unlockedCube.rarity
          === 'raros' ? 'Raro' :
          unlockedCube.rarity === 'epicos' ? 'Épico' : 'Lendário' }}</p>
        <p *ngIf="unlockedCubeIsRepeated" class="repeated-cube">Repetido! 😢</p>
      </div>
      <h2>Parabéns!</h2>
      <p>Você desbloqueou o <span class="unlocked-cube-name">{{ unlockedCube.name }}</span></p>
      <app-organiza-button label="Confirmar" type="button" (click)="closeUnlockAnimation()"></app-organiza-button>
    </div>
  </div>
</ion-content>