.header-icon {
  font-size: 28px;
  color: var(--forest-green);
  margin: 0 10px;
}

.user-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.user-icon-bg {
  background-color: var(--clear-green);
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  .user-icon {
    font-size: 24px;
    color: var(--forest-green);
  }
}

.user-name {
  font-family: 'Montserrat Bold';
  font-size: 1.2rem;
  color: var(--forest-green);
}

.edit-icon {
  font-size: 20px;
  color: var(--plain-green);
}

.welcome-message {
  font-family: 'Montserrat Bold';
  font-size: 1.6rem;
  margin-bottom: 25px;

  .dark-text {
    color: var(--forest-green);
  }
  
  .light-text {
    color: var(--plain-green);
  }
}

.mission-card {
  background-color: var(--lime-green);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(110, 202, 74, 0.3);
}

.mission-bg-img {
  position: absolute;
  top: -10px;
  right: -20px;
  width: 130px;
  opacity: 70%;
}

.mission-tag {
  background-color: var(--clear-green);
  color: var(--forest-green);
  font-family: 'Montserrat Bold';
  font-size: 0.85rem;
  padding: 4px 16px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 12px;
}

.mission-title {
  font-family: 'Montserrat Bold';
  color: var(--pure-white);
  font-size: 1.4rem;
  margin: 0 0 15px 0;
}

.mission-details {
  display: flex;
  align-items: center;
  gap: 12px;

  .mission-flag {
    font-size: 2.2rem;
    color: var(--forest-green);
  }

  p {
    font-family: 'Montserrat Regular';
    color: var(--pure-white);
    font-size: 1rem;
    margin: 0;
    line-height: 1.2;
    padding-right: 10px;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .nav-title {
    font-family: 'Montserrat Bold';
    color: var(--forest-green);
    font-size: 1.4rem;
    margin: 0;
  }
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding-bottom: 30px;
}

.nav-card {
  background-color: var(--pastel-green);
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: filter 0.2s ease-in-out;

  position: relative;
  overflow: hidden;

  .card-icon {
    font-size: 28px;
    color: var(--forest-green);
    margin-bottom: 12px;
  }

  .card-title {
    font-family: 'Montserrat Bold';
    color: var(--forest-green);
    font-size: 1.1rem;
    margin: 0 0 4px 0;
  }

  .card-desc {
    font-family: 'Montserrat Medium';
    color: var(--forest-green);
    font-size: 0.75rem;
    margin: 0;
    line-height: 1.2;
    opacity: 0.85;
  }

  .light-card{
    background-color: var(--pastel-green);
  }

  .dark-card{
    background-color: var(--clear-green);
  }
}

.light-card{
    background-color: var(--pastel-green);
  }

  .dark-card{
    background-color: var(--clear-green);
  }

.nav-card:hover {
    filter: brightness(0.90);
    cursor: pointer;
}