<div class="container">
  <ion-icon name="close" class="close-button" (click)="onCancel()"></ion-icon>

  <div class="title-label">
    <img src="assets/icons/{{mission.image}}" alt="Medalha" class="title-icon">
    <h1 class="title">{{mission.title}}</h1>
  </div>

  <span class="description">{{mission.description}}</span>

  <div class="arests-label">
    <img src="assets/edges.svg" alt="Arestas" class="edges-icon">
    <span class="arestas-text">+{{mission.arestas}} arestas</span>
  </div>

  @if (mission.status === 'disponivel') {
  <app-organiza-button label="Aceitar Missão" type="button" (onClick)="onAccept()"></app-organiza-button>
  }
  @else if (mission.status === 'em progresso') {
  <ion-progress-bar class="custom-progress" [value]="(mission.progress || 0) / 100"></ion-progress-bar>
  @if (mission.progress === 100) {
  <app-organiza-button label="Completar Missão" type="button" (onClick)="onComplete()"></app-organiza-button>
  }
  }

</div>