/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
    --pure-white: #FFFFFF;
    --background-white: #F2F5FF;
    --input-background: #E2EBF5;
    --disable-gray: #595959b7;
    --clear-green: #ABDAAB;
    --pastel-green: #D3EDD5;
    --forest-green: #016438;
    --plain-green: #30A145;
    --lime-green: #6ECA4A;
    --middle-pink: #BD5ABE;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

.ion-padding {
  --padding-top: 35px;
  --padding-bottom: 35px;
  --padding-start: 25px;
  --padding-end: 25px;
}

.no-ripple {
  --ripple-color: transparent !important;
}

.custom-background {
  --background: var(--background-white);
  
  //padding necessário por causa da toolbar superior
  --padding-top: 60px; 
}