<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="container">
    <img src="assets/main-logo-organiza.svg" alt="Logo Pet Organiza" />
    <div class="loading-grid">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
  </div>
</ion-content>
